{% extends 'base.html.twig' %}

{% block body %}

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam odio omnis optio rem sit, suscipit?
        Accusantium architecto deserunt dolores facilis fuga, minima saepe sunt voluptatibus! Explicabo fugiat natus rerum.</p>

{% endblock %}

{% block title %}About Us | {{ parent() }} {% endblock %}
