html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bg-custom {
    background-color: #81afd8;
}

footer .text-muted,
footer a.text-muted {
    color: #333 !important; /* Gris très foncé */
}
