<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# NAV #}
        {% include 'part/_navbar.html.twig' %}

        {# Affichage du message Flash #}
        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ status }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        {# FOOTER #}
        {% include 'part/_footer.html.twig' %}
    </body>
</html>
